#one-col.test
  +column(7)
  +append(1)
  img
    +column(3) 
    
#one-col.test-aside
  +column(16, true)
  article
    clear: both
  img
    +column(2)

    
  #three-chart, #two-chart
    +clearfix
    +column(15)
    background : $white
    clear : both
    img
      border : 0px
      &:last-of-type
        +last
  #three-chart
    img
      +column(5)
  #two-chart
    img
      +column(7)
      &:last-of-type
        +prepend(1)
#h-slider
  border: 2px solid $black
  background : $orange
  +column(15, true)
  margin-left: 5px
  a
    background : image-url('placehlr/grid/span-1-rows-1.png') no-repeat
    
  span
    background : red no-repeat
    top : 15px
    left : 100px
    position : absolute
    font-size : 10px
    width: 40px
    padding-left: 5px
    
    //left : 5%
     
    
#small-nav
  color : $white
  +single-text-shadow(darken($white, 60%), 1px, 1px, 2px)
  li
    float : left
    background : $black
    &:hover
      background : $orange
  li
    // I want to have a span / column solution here
    width: 190px
    &:hover, &.current
      background : $orange
      a
        background : none
    a
      background: image-url('global/nav/separate_nav.png') right 10px no-repeat 
      padding : 12px 0px 12px 0px
       
      +adjust-font-size-to(16px)
      
#map, #plot
  +column(15)
  height : 300px
  //+trailer
  //+clearfix
#plot
  margin-left: 5px

  
#ifeature
  clear : both
 

