<!DOCTYPE html>
{% load i18n %}
{% load webdesign %}
<!--[if IE 6]> <html class="no-js ie6 oldie" lang='en'><![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang='en'><![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang='en'><![endif]-->
<!--[if gt IE 8]>
<html lang="'en'" class="no-js">
  <![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>{% block title %}
      Logic Stick :: {% trans "Complete supply chain solution" %}
      {% endblock %}</title>
    <meta content="{% block meta_description %}Supply Chain{% endblock %}" name="description" />
    <meta content="{% block meta_author %}Vishwas Sharma{% endblock %}" name="author" />
    <link ref="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" rel="stylesheet" />
    <link media="all" href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    {% block extra_head %}
    
    {% endblock %}
  </head>
  <body class="{% block body_class %}sample{% endblock %}">
    {% block body %}
    <!-- div#box1>div.container>header>h1{Logicstick}+nav#main-nav[role=navigation]>ul>li*6[href][title][alt]{link}<<+menu#sub-nav>ul>li*2>a[href][title][alt] -->
    <div id="box1">
      <div class="container">
        <header>
        {% block main-nav %}
          <h1>Logicstick</h1>
          <nav role="navigation" id="main-nav">
            <ul>
              <li><a alt="home" href="/" title="home">home</a></li>
              <li><a alt="product" href="/product/" title="product">product</a></li>
              <li><a alt="blog" href="/blog/" title="blog">blog</a></li>
              <li><a alt="track" href="/track/" title="track">track</a></li>
              <li><a alt="contact" href="/contact/" title="contact">contact</a></li>
              <li><a alt="about" href="/about/" title="about">about</a></li>
            </ul>
          </nav>
          <menu id="sub-nav">
            <ul>
              {% if user.is_authenticated %}
              <li>
                <a alt="{{ user.username }}" href="/track/{{ user.username }}" title="{{ user.username }}">{{ user.username }}</a>
              </li>
              <li>
                <a alt="signout" href="/profile/logout/" title="signout">logout</a>
              </li>
              {% else %}
              <li>
                <a alt="login" href="/profile/login/" title="login">login</a>
              </li>
              <li>
                <a alt="signup" href="/profile/signup/" title="signup">signup</a>
              </li>
              {% endif %}
            </ul>
          </menu>
          {% endblock %}
          {% block showcase %}
            <section id="showcase">
              <h2>know more about us</h2>
              <img src="{{ STATIC_URL }}img/placehlr/grid/span-11-rows-11.png" alt="showcase" />
              <div id="info">
                <h3>Thinking of tracking</h3>
                <p>{% lorem 70 w %}</p>
                <a alt="more" href="#" title="more">more</a>
              </div>
            </section>
          {% endblock %}
        </header>
      </div>
    </div>
    <div id="box2">
      <div class="container">
        {% block content %}        
          <section class="base" id="one-col">
            <h3>One Column</h3>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
          </section>
          <section class="base" id="two-col">
            <h3>Two Column</h3>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <aside>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </aside>
          </section>
          <section class="base" id="three-col">
            <h3>Three Column</h3>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <aside>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </aside>
          </section>
          <section class="base" id="four-col">
            <h3>Four Column</h3>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <aside>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </aside>
          </section>
          <section class="base" id="six-col">
            <h3>Six Column</h3>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <article>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </article>
            <aside>
              <h4>{% lorem 3 w %}</h4>
              <p>{% lorem 70 w %}</p>
            </aside>
          </section>
        {% endblock content %}
      </div>
    </div>
    <div id="box3">
      <div class="container">
        <footer id="four-col" class='base'>
          <article>
            <h4>{% lorem 3 w %}</h4>
            <p>{% lorem 70 w %}</p>
          </article>
          <article>
            <h4>{% lorem 3 w %}</h4>
            <p>{% lorem 70 w %}</p>
          </article>
          <article>
            <h4>{% lorem 3 w %}</h4>
            <p>{% lorem 70 w %}</p>
          </article>
          <aside>
            <h4>{% lorem 3 w %}</h4>
            <p>{% lorem 70 w %}</p>
          </aside>
        </footer>
      </div>
    </div>
    <div id="box4">
      <div class="container">
        <footer id="final">
          <article>
            <h6>Copyright by Vishwas Sharma</h6>
            <nav>
              <ul>
                <li>
                  <a alt="home" href="/" title="home">home</a>
                </li>
                <li>
                  <a alt="product" href="/product" title="product">product</a>
                </li>
                <li>
                  <a alt="blog" href="/blog/" title="blog">blog</a>
                </li>
                <li>
                  <a alt="track" href="/track/" title="track">track</a>
                </li>
                <li>
                  <a alt="contact" href="/contact/" title="contact">contact</a>
                </li>
                <li>
                  <a alt="about" href="/about/" title="about">about</a>
                </li>
              </ul>
            </nav>
          </article>
        </footer>
      </div>
    </div>
    {% block javascript_library %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" charset="utf-8">
        window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/core/jquery-1.7.1.min.js"><\/script>')
      </script>
      {% block javascript_add %}{% endblock %}
      <script src="{{ STATIC_URL }}js/plugins.js" type="text/javascript"></script>
      <script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>
    {% endblock %}
    {% block javascript %}{% endblock %}
    <script type="text/javascript" charset="utf-8">
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
    {% endblock %}
  </body>
</html>
