#three-col.product
  article
    +column(8)
    background : $text
    &:hover
      background: $orange
  aside
    +column(8, true)
    background : $text
    &:hover
      background: $orange
  aside
  img
    +column(7, true) 
    //width: 270px
    //height: 185px
    //+apply-side-rhythm-border(left)
    margin: 0px 14px
    //padding: 0px 15px
    +leader
    +trailer

  h4, p
    padding: 0px 14px
    color : $white
