@import "blueprint/typography"

$blueprint-font-family : "Oswald", "Helvetica Neue", Arial, Helvetica, sans-serif

$blueprint-fixed-font-family : "andale mono", "lucida console", monospace

$blueprint-font-size : 12px

+blueprint-typography

body
  text-align : justify

h1, h2, h3, h4, h5, .text
  text-transform : uppercase
  +single-text-shadow(lighten($font-color, 10%), 1px, 1px, 2px)
  +clearfix


a
  +unstyled-link
  // error : it is making link size == width of the column
  display : block
