// This import applies a global reset to any page that imports this stylesheet.


// To configure blueprint, edit the partials/base.sass file.
@import partials/global/base
@import partials/global/colors
@import partials/global/text
// Import all the default blueprint modules so that we can access their mixins.


// Combine the partials into a single screen stylesheet.
@import partials/home/home
@import partials/product/product
@import partials/blog/blog
@import partials/contact/contact
@import partials/about/about
@import partials/registration/login
//@import partials/form
//@import partials/two_col
/* aljdslkfjalksjfdlajsl */
@media screen and (max-width: 480px)
  body
    background : blue
    article 
      background : black

@media projection
  body
    background : blue
    article 
      background : black  
      

@import partials/global/form


@import partials/track/track

@import partials/test/test
