/* line 7, ../sass/ie.sass */
body.ls {
  text-align: center;
}
/* line 44, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body.ls legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 48, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body.ls p code {
  *white-space: normal;
}
/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls .container {
  text-align: left;
}
/* line 62, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls sup {
  vertical-align: text-top;
}
/* line 64, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls sub {
  vertical-align: text-bottom;
}
/* line 66, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls hr {
  margin: -8px auto 11px;
}
/* line 68, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls img {
  -ms-interpolation-mode: bicubic;
}
/* line 70, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls fieldset {
  padding-top: 0;
}
/* line 72, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls legend {
  margin-top: -0.2em;
  margin-bottom: 1em;
  margin-left: -0.5em;
}
/* line 76, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls fieldset, body.ls #IE8#HACK {
  padding-top: 1.4em;
}
/* line 77, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls legend, body.ls #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 78, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls textarea {
  overflow: auto;
}
/* line 80, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls label {
  position: relative;
  top: -0.25em;
}
/* line 84, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 88, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.text:focus {
  border: 1px solid #666666;
}
/* line 90, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 94, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.title:focus {
  border: 1px solid #666666;
}
/* line 96, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 99, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.radio {
  position: relative;
  top: 0.25em;
}
/* line 102, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls input.button {
  position: relative;
  top: 0.25em;
}
/* line 105, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls textarea {
  margin: 0.5em 0;
}
/* line 107, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls select {
  margin: 0.5em 0;
}
/* line 109, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.ls button {
  position: relative;
  top: 0.25em;
}
