/* line 4, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* ====================*
 *        COLOR        * 
 * ==================== */
/* line 33, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Oswald", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #6b6b6b;
  font-size: 75%;
}

/* line 51, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5a5a5a;
}
/* line 52, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #232428;
  font-style: italic;
}

/* line 64, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #232428;
}

/* line 70, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #9e9e9e;
}

/* line 89, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #494949;
}

/* line 11, ../sass/partials/global/_text.sass */
body {
  text-align: justify;
}

/* line 14, ../sass/partials/global/_text.sass */
h1, h2, h3, h4, h5, .text {
  text-transform: uppercase;
  text-shadow: #858585 1px 1px 2px;
  overflow: hidden;
  *zoom: 1;
}

/* line 20, ../sass/partials/global/_text.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: block;
}
/* line 6, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 1, ../sass/partials/home/_home.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../sass/partials/home/_home.sass */
#box1, #box2, #box3, #box4 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 9, ../sass/partials/home/_home.sass */
#box1, #box2 {
  background: url('../img/global/bg/top.jpg?1330548025');
}

/* line 12, ../sass/partials/home/_home.sass */
#box3 {
  background: url('../img/global/bg/middle.jpg?1330548025');
}

/* line 15, ../sass/partials/home/_home.sass */
#box4 {
  background: #bcbcbc;
}

/* -------------------------------------------------------------------------------------- */
/* --------------------         --------START NAVIGATION---------            ------------ */
/* -------------------------------------------------------------------------------------- */
/* line 22, ../sass/partials/home/_home.sass */
header {
  text-transform: uppercase;
  position: relative;
}
/* line 25, ../sass/partials/home/_home.sass */
header h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/global/logo/logo.png?1330548025');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 366px;
  height: 55px;
}
/* line 27, ../sass/partials/home/_home.sass */
header a {
  color: white;
}
/* line 18, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header a:visited {
  color: white;
}
/* line 21, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header a:focus {
  color: white;
}
/* line 24, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header a:hover {
  color: white;
}
/* line 27, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header a:active {
  color: white;
}
/* line 29, ../sass/partials/home/_home.sass */
header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header ul li {
  *display: inline;
}
/* line 31, ../sass/partials/home/_home.sass */
header li {
  text-align: center;
  float: left;
  background: black;
  cursor: pointer;
}
/* line 36, ../sass/partials/home/_home.sass */
header li:hover, header li.current {
  background: #ff6144;
}

/* line 39, ../sass/partials/home/_home.sass */
#main-nav {
  color: white;
  text-shadow: #666666 1px 1px 2px;
}
/* line 42, ../sass/partials/home/_home.sass */
#main-nav li {
  width: 158px;
}
/* line 45, ../sass/partials/home/_home.sass */
#main-nav li a {
  background: url('../img/global/nav/separate_nav.png?1330548025') right 10px no-repeat;
  padding: 24px 0px 24px 0px;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 49, ../sass/partials/home/_home.sass */
#main-nav li a:hover {
  background: none;
}

/* line 52, ../sass/partials/home/_home.sass */
#sub-nav {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #d6d6d6;
  text-shadow: #bdbdbd 1px 1px 2px;
}
/* line 58, ../sass/partials/home/_home.sass */
#sub-nav li {
  min-width: 100px;
  margin-left: 5px;
}
/* line 61, ../sass/partials/home/_home.sass */
#sub-nav li a {
  padding: 10px 24px;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 66, ../sass/partials/home/_home.sass */
#showcase {
  padding-top: 1.5em;
}
/* line 69, ../sass/partials/home/_home.sass */
#showcase img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  border: 6px solid white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  margin-right: 28px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #showcase img {
  overflow-x: hidden;
}
/* line 75, ../sass/partials/home/_home.sass */
#showcase div {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #showcase div {
  overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------- */
/* --------------------         --------END NAVIGATION ----------            ------------ */
/* -------------------------------------------------------------------------------------- */
/* line 82, ../sass/partials/home/_home.sass */
#one-col, #two-col, #three-col, #four-col, #six-col {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col, * html #two-col, * html #three-col, * html #four-col, * html #six-col {
  overflow-x: hidden;
}
/* line 88, ../sass/partials/home/_home.sass */
#one-col article, #two-col article, #three-col article, #four-col article, #six-col article {
  margin-bottom: 1.5em;
}
/* line 90, ../sass/partials/home/_home.sass */
#one-col img, #one-col .border, #two-col img, #two-col .border, #three-col img, #three-col .border, #four-col img, #four-col .border, #six-col img, #six-col .border {
  border: 6px solid white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 96, ../sass/partials/home/_home.sass */
#one-col.base article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.base article {
  overflow-x: hidden;
}

/* line 100, ../sass/partials/home/_home.sass */
#two-col.base article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col.base article {
  overflow-x: hidden;
}
/* line 102, ../sass/partials/home/_home.sass */
#two-col.base aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col.base aside {
  overflow-x: hidden;
}

/* line 106, ../sass/partials/home/_home.sass */
#three-col.base article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #three-col.base article {
  overflow-x: hidden;
}
/* line 108, ../sass/partials/home/_home.sass */
#three-col.base aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #three-col.base aside {
  overflow-x: hidden;
}

/* line 111, ../sass/partials/home/_home.sass */
#four-col.base article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #four-col.base article {
  overflow-x: hidden;
}
/* line 113, ../sass/partials/home/_home.sass */
#four-col.base aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #four-col.base aside {
  overflow-x: hidden;
}

/* line 116, ../sass/partials/home/_home.sass */
#six-col.base article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #six-col.base article {
  overflow-x: hidden;
}
/* line 118, ../sass/partials/home/_home.sass */
#six-col.base aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #six-col.base aside {
  overflow-x: hidden;
}

/* line 2, ../sass/partials/product/_product.sass */
#three-col.product article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  background: #232428;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #three-col.product article {
  overflow-x: hidden;
}
/* line 5, ../sass/partials/product/_product.sass */
#three-col.product article:hover {
  background: #ff6144;
}
/* line 7, ../sass/partials/product/_product.sass */
#three-col.product aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  background: #232428;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #three-col.product aside {
  overflow-x: hidden;
}
/* line 10, ../sass/partials/product/_product.sass */
#three-col.product aside:hover {
  background: #ff6144;
}
/* line 13, ../sass/partials/product/_product.sass */
#three-col.product img {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  margin: 0px 14px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #three-col.product img {
  overflow-x: hidden;
}
/* line 23, ../sass/partials/product/_product.sass */
#three-col.product h4, #three-col.product p {
  padding: 0px 14px;
  color: white;
}

/* line 1, ../sass/partials/blog/_blog.sass */
#one-col.blog {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.blog {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/blog/_blog.sass */
#one-col.blog img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.blog img {
  overflow-x: hidden;
}

/* line 7, ../sass/partials/blog/_blog.sass */
#one-col.blog-aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.blog-aside {
  overflow-x: hidden;
}
/* line 10, ../sass/partials/blog/_blog.sass */
#one-col.blog-aside img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.blog-aside img {
  overflow-x: hidden;
}

/* line 1, ../sass/partials/contact/_contact.sass */
#one-col.contact {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.contact {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/contact/_contact.sass */
#one-col.contact img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  margin-bottom: 1.5em;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.contact img {
  overflow-x: hidden;
}
/* line 8, ../sass/partials/contact/_contact.sass */
#one-col.contact h4 {
  clear: both;
}

/* line 10, ../sass/partials/contact/_contact.sass */
#one-col.contact-aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.contact-aside {
  overflow-x: hidden;
}
/* line 13, ../sass/partials/contact/_contact.sass */
#one-col.contact-aside img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.contact-aside img {
  overflow-x: hidden;
}

/* line 1, ../sass/partials/about/_about.sass */
#one-col.about {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.about {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/about/_about.sass */
#one-col.about img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.about img {
  overflow-x: hidden;
}

/* line 8, ../sass/partials/about/_about.sass */
#one-col.about-aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.about-aside {
  overflow-x: hidden;
}
/* line 10, ../sass/partials/about/_about.sass */
#one-col.about-aside img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  float: left;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.about-aside img {
  overflow-x: hidden;
}

/* line 2, ../sass/partials/registration/_login.sass */
#two-col.login article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col.login article {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/registration/_login.sass */
#two-col.login aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col.login aside {
  overflow-x: hidden;
}

/* aljdslkfjalksjfdlajsl */
@media screen and (max-width: 480px) {
  /* line 22, ../sass/screen.sass */
  body {
    background: blue;
  }
  /* line 24, ../sass/screen.sass */
  body article {
    background: black;
  }
}
@media projection {
  /* line 28, ../sass/screen.sass */
  body {
    background: blue;
  }
  /* line 30, ../sass/screen.sass */
  body article {
    background: black;
  }
}
/* line 18, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 1, ../sass/partials/track/_track.sass */
#one-col.track {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  padding-right: 40px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/track/_track.sass */
#one-col.track img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track img {
  overflow-x: hidden;
}

/* line 7, ../sass/partials/track/_track.sass */
#one-col.track-aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track-aside {
  overflow-x: hidden;
}
/* line 9, ../sass/partials/track/_track.sass */
#one-col.track-aside img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track-aside img {
  overflow-x: hidden;
}
/* line 12, ../sass/partials/track/_track.sass */
#one-col.track-aside article {
  clear: both;
}
/* line 15, ../sass/partials/track/_track.sass */
#one-col.track-aside #three-chart, #one-col.track-aside #two-chart {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  background: white;
  clear: both;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track-aside #three-chart, * html #one-col.track-aside #two-chart {
  overflow-x: hidden;
}
/* line 20, ../sass/partials/track/_track.sass */
#one-col.track-aside #three-chart img, #one-col.track-aside #two-chart img {
  border: 0px;
}
/* line 22, ../sass/partials/track/_track.sass */
#one-col.track-aside #three-chart img.last, #one-col.track-aside #two-chart img.last {
  margin-right: 0px;
}
/* line 25, ../sass/partials/track/_track.sass */
#one-col.track-aside #three-chart img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track-aside #three-chart img {
  overflow-x: hidden;
}
/* line 28, ../sass/partials/track/_track.sass */
#one-col.track-aside #two-chart img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.track-aside #two-chart img {
  overflow-x: hidden;
}

/* line 31, ../sass/partials/track/_track.sass */
#small-nav {
  color: white;
  text-shadow: #666666 1px 1px 2px;
}
/* line 34, ../sass/partials/track/_track.sass */
#small-nav li {
  float: left;
  background: black;
}
/* line 37, ../sass/partials/track/_track.sass */
#small-nav li:hover {
  background: #ff6144;
}
/* line 39, ../sass/partials/track/_track.sass */
#small-nav li {
  width: 190px;
}
/* line 42, ../sass/partials/track/_track.sass */
#small-nav li:hover, #small-nav li.current {
  background: #ff6144;
}
/* line 44, ../sass/partials/track/_track.sass */
#small-nav li:hover a, #small-nav li.current a {
  background: none;
}
/* line 46, ../sass/partials/track/_track.sass */
#small-nav li a {
  background: url('../img/global/nav/separate_nav.png?1330548025') right 10px no-repeat;
  padding: 12px 0px 12px 0px;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 52, ../sass/partials/track/_track.sass */
#map {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  height: 300px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #map {
  overflow-x: hidden;
}

/* line 60, ../sass/partials/track/_track.sass */
#ifeature {
  clear: both;
}

/* line 1, ../sass/partials/test/_test.sass */
#one-col.test {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  padding-right: 40px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test {
  overflow-x: hidden;
}
/* line 4, ../sass/partials/test/_test.sass */
#one-col.test img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test img {
  overflow-x: hidden;
}

/* line 7, ../sass/partials/test/_test.sass */
#one-col.test-aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test-aside {
  overflow-x: hidden;
}
/* line 9, ../sass/partials/test/_test.sass */
#one-col.test-aside article {
  clear: both;
}
/* line 11, ../sass/partials/test/_test.sass */
#one-col.test-aside img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test-aside img {
  overflow-x: hidden;
}
/* line 15, ../sass/partials/test/_test.sass */
#one-col.test-aside #three-chart, #one-col.test-aside #two-chart {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  background: white;
  clear: both;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test-aside #three-chart, * html #one-col.test-aside #two-chart {
  overflow-x: hidden;
}
/* line 20, ../sass/partials/test/_test.sass */
#one-col.test-aside #three-chart img, #one-col.test-aside #two-chart img {
  border: 0px;
}
/* line 22, ../sass/partials/test/_test.sass */
#one-col.test-aside #three-chart img:last-of-type, #one-col.test-aside #two-chart img:last-of-type {
  margin-right: 0;
}
/* line 25, ../sass/partials/test/_test.sass */
#one-col.test-aside #three-chart img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test-aside #three-chart img {
  overflow-x: hidden;
}
/* line 28, ../sass/partials/test/_test.sass */
#one-col.test-aside #two-chart img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #one-col.test-aside #two-chart img {
  overflow-x: hidden;
}
/* line 30, ../sass/partials/test/_test.sass */
#one-col.test-aside #two-chart img:last-of-type {
  padding-left: 40px;
}

/* line 32, ../sass/partials/test/_test.sass */
#h-slider {
  border: 2px solid black;
  background: #ff6144;
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  margin-left: 5px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #h-slider {
  overflow-x: hidden;
}
/* line 37, ../sass/partials/test/_test.sass */
#h-slider a {
  background: url('../img/placehlr/grid/span-1-rows-1.png?1309850612') no-repeat;
}
/* line 40, ../sass/partials/test/_test.sass */
#h-slider span {
  background: red no-repeat;
  top: 15px;
  left: 100px;
  position: absolute;
  font-size: 10px;
  width: 40px;
  padding-left: 5px;
}

/* line 52, ../sass/partials/test/_test.sass */
#small-nav {
  color: white;
  text-shadow: #666666 1px 1px 2px;
}
/* line 55, ../sass/partials/test/_test.sass */
#small-nav li {
  float: left;
  background: black;
}
/* line 58, ../sass/partials/test/_test.sass */
#small-nav li:hover {
  background: #ff6144;
}
/* line 60, ../sass/partials/test/_test.sass */
#small-nav li {
  width: 190px;
}
/* line 63, ../sass/partials/test/_test.sass */
#small-nav li:hover, #small-nav li.current {
  background: #ff6144;
}
/* line 65, ../sass/partials/test/_test.sass */
#small-nav li:hover a, #small-nav li.current a {
  background: none;
}
/* line 67, ../sass/partials/test/_test.sass */
#small-nav li a {
  background: url('../img/global/nav/separate_nav.png?1330548025') right 10px no-repeat;
  padding: 12px 0px 12px 0px;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 73, ../sass/partials/test/_test.sass */
#map, #plot {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  height: 300px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #map, * html #plot {
  overflow-x: hidden;
}

/* line 78, ../sass/partials/test/_test.sass */
#plot {
  margin-left: 5px;
}

/* line 82, ../sass/partials/test/_test.sass */
#ifeature {
  clear: both;
}
