{% extends "base.html" %}
{% load i18n %}
{% load webdesign %}

{% block title %}Logicstick :: {% trans "Product" %}{% endblock %}

{% block showcase %}{% endblock %}

{% block content %}
<section id="one-col" class="contact">
	<h3>Two Column</h3>
	<article>
		<img src="{{ STATIC_URL }}img/placehlr/grid/span-15-rows-10.png" alt="Google Map" />
		<h4>{% lorem 4 w %}</h4>
		<p>{% lorem 30 w %}</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<aside>
		<h4>{% lorem 4 w %}</h4>
		<p>{% lorem 30 w %}</p>
		<a href="" class="button" alt="link">more</a>
	</aside>
</section>
<section id="one-col" class="contact-aside">
	<h3>Three Column</h3>
	<article>
		<h4>{% lorem 4 w %}</h4>
		<p>{% lorem 30 w %}</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<article>
    <h4>{% lorem 4 w %}</h4>
		<p>{% lorem 30 w %}</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<aside>
		<h4>{% lorem 4 w %}</h4>
		<p>{% lorem 30 w %}</p>
		<a href="" class="button" alt="link">more</a>
	</aside>
</section>
{% endblock %} 
