{% extends "base.html" %}
{% load i18n %}
{% load webdesign %}

{% block title %}Logicstick :: {% trans "Product" %}{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.18.custom.css" />
{% endblock %}
  
{% block showcase %}{% endblock %}

{% block content %}
<section id="one-col" class="base">
	<header>
		<h3>Welcome, {{ user.username }}</h3>
		<nav id="small-nav">
			<ul>
				<li>
					<a href="#home" title="home" alt="home">Home</a>
				</li>
				<li>
					<a href="/product/" title="product" alt="product">Vehicle</a>
				</li>
				<li>
					<a href="/blog/" title="blog" alt="blog">Staff</a>
				</li>
				<li>
					<a href="/track/" title="track" alt="track">Report</a>
				</li>
				<li>
					<a href="/contact/" title="contact" alt="contact">Support</a>
				</li>
			</ul>
		</nav>
	</header>
</section>
<section id="one-col" class="test">
	<h3>Dashboard</h3>
	<article>
		<table id="accordion">
			<tr>
				<th>1.</th>
				<th>RJ 19 CA 5792</th>
				<th><img src="{{ STATIC_URL }}img/placehlr/grid/span-1-rows-2.png" alt="picture1" style="width: 32px; height: 32px;"/></th>
			</tr>
			<tr>
				<td colspan="3">
					<div>
						<h4>LOREM IPSUM DOLOR SIT</h4>
						<small class="date">Nov 24, 2011</small>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<th>1.</th>
				<th>DL 3CA 5792</th>
				<th><img src="{{ STATIC_URL }}img/placehlr/grid/span-1-rows-2.png" alt="picture1" style="width: 32px; height: 32px;"/></th>
			</tr>
			<tr>
				<td colspan="3">
					<div>
						<h4>LOREM IPSUM DOLOR SIT</h4>
						<small class="date">Nov 24, 2011</small>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</td>
			</tr>
		</table>
	</article>
	<article>
		<img src="{{ STATIC_URL }}img/placehlr/grid/span-3-rows-6.png" alt="picture1" />
		<h4>LOREM IPSUM DOLOR SIT</h4>
		<small class="date">Nov 24, 2011</small>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<article>
		<h4>Lorem ipsum dolor sit</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<article>
		<img src="{{ STATIC_URL }}img/placehlr/grid/span-3-rows-6.png" alt="picture1" />
		<h4>LOREM IPSUM DOLOR SIT</h4>
		<small class="date">Nov 24, 2011</small>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<article>
		<h4>Lorem ipsum dolor sit</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
</section>
<section id="one-col" class="test-aside">
	<h3>Blog</h3>
	<article>
		<h4>LOREM IPSUM DOLOR SIT</h4>
		<div id="map" class="border"></div>
		<div id="ifeature">	
		</div>
		<!-- <div id="v-slider" style="border: 2px solid black"></div> -->
	</article>
	<article id="h-slider">
		<span>30 min</span>
	</article>
	<article>
		<div id="plot"></div>
		<!-- <div id="v-slider" style="border: 2px solid black"></div> -->
	</article>
	<article id="three-chart" class="border">
			<img src="{{ STATIC_URL }}img/placehlr/grid/span-5-rows-6.png" alt="img1" />
			<img src="{{ STATIC_URL }}img/placehlr/grid/span-5-rows-6.png" alt="img1" />
			<img src="{{ STATIC_URL }}img/placehlr/grid/span-5-rows-6.png" alt="img1" />
	</article>
	

	<article id="two-chart" class="border">
			<img src="{{ STATIC_URL }}img/placehlr/grid/span-7-rows-6.png" alt="img1" />
			<img src="{{ STATIC_URL }}img/placehlr/grid/span-7-rows-6.png" alt="img1" />
	</article>
	<article>
		<img src="{{ STATIC_URL }}img/placehlr/grid/span-2-rows-4.png" alt="picture1" />
		<h4>LOREM IPSUM DOLOR SIT</h4>
		<small class="date">Nov 24, 2011</small>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
	<article>
		<h4>Lorem ipsum dolor sit</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<a href="" class="button" alt="link">more</a>
	</article>
</section>
{% endblock %} 

{% block javascript_add %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="{{ STATIC_URL }}js/libs/maps/openlayers.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/libs/maps/logicstick.js"></script>
<!-- <script src="{{ STATIC_URL }}js/libs/maps/logic.plugin.js"></script> -->
<!-- <script src="{{ STATIC_URL }}js/libs/maps/logicplugin.js"></script> -->
<script src="{{ STATIC_URL }}js/libs/maps/logic.loading.js"></script>
<script src="{{ STATIC_URL }}js/libs/maps/logic.slider.js"></script>
<script src="{{ STATIC_URL }}js/libs/maps/logic.chart.js"></script>
<script src="{{ STATIC_URL }}js/libs/chart/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}js/libs/ui/jquery.dashboard.js"></script>
{% endblock %}