.container
  +container
  //+showgrid

#box1, #box2, #box3, #box4
  +padding-leader
  +padding-trailer
  
#box1, #box2
  background : image-url('global/bg/top.jpg')

#box3
  background : image-url('global/bg/middle.jpg')

#box4
  background : #bcbcbc

/* -------------------------------------------------------------------------------------- */
/* --------------------         --------START NAVIGATION---------            ------------ */
/* -------------------------------------------------------------------------------------- */

header
  text-transform : uppercase
  position : relative     
  h1
    +replace-text-with-dimensions('global/logo/logo.png')
  a
    +link-colors(white, white, white, white, white)
  ul
    +inline-block-list
  li
    text-align : center
    float : left
    background : $black
    cursor : pointer
    &:hover, &.current
      background : $orange

#main-nav
  color : $white
  +single-text-shadow(darken($white, 60%), 1px, 1px, 2px)
  li
    // I want to have a span / column solution here
    width: 158px
    a
      background: image-url('global/nav/separate_nav.png') right 10px no-repeat 
      padding : 24px 0px 24px 0px 
      +adjust-font-size-to(16px)
      &:hover
        background : none
      
#sub-nav
  position : absolute
  top : 10px
  right : 5px
  color : $bg-text
  +single-text-shadow(darken($bg-text, 10%), 1px, 1px, 2px)
  li
    min-width: 100px
    margin-left: 5px
    a
      padding : 10px 24px 
      +adjust-font-size-to(16px)


#showcase
  +padding-leader
  
  img
    +column(11)
    border: 6px solid white
    +border-radius(2px)
    margin-right: 28px
    
  div
    +column(12, true)
        
/* -------------------------------------------------------------------------------------- */
/* --------------------         --------END NAVIGATION ----------            ------------ */
/* -------------------------------------------------------------------------------------- */

#one-col, #two-col, #three-col, #four-col, #six-col
  +column(24, true)
  //+leader
  +trailer
  +clearfix
  
  article
    +trailer
  img, .border  
    //border: 1 * $base-leader solid white
    border: 6px solid white
    +border-radius(2px)

#one-col.base
  article
    +column(24)
    
#two-col.base
  article
    +column(12)
  aside
    +column(12, true)
      
#three-col.base
  article
    +column(8)
  aside
    +column(8, true)
#four-col.base
  article
    +column(6)
  aside
    +column(6, true)
#six-col.base
  article
    +column(4)
  aside
    +column(4, true)
