{% extends "base.html" %}
{% load i18n %}
{% load webdesign %}

{% block title %}Logicstick :: {% trans "Product" %}{% endblock %}

{% block showcase %}{% endblock %}

{% block content %}
<div id="box2">
	<div class="container">
		<section id="two-col" class="login">
			<!-- <h3>One Column</h3> -->
			<h3>Login</h3>
			<article>
				<!-- <h4>Lorem ipsum dolor sit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="button" alt="link">more</a> -->
				<form action="{% url django.contrib.auth.views.login %}" method="post" id="form-main" accept-charset="utf-8">
					{% csrf_token %}
					<fieldset>
						<legend>
							Login Form
						</legend>
						{% if form.errors %}
							<p 	class="error">Your username and password didn't match. Please try again.</p>
						{% endif %}
						<!-- p>label[for=uname]{username}+input[id=uname][type=text][name=uname] -->
						<input type="hidden" name="next" value="{{ next }}" />
						<label role="username">{{ form.username.label_tag }}</label>
						{{ form.username }}<br>
						<label role="password">{{ form.password.label_tag }}</label>
						{{ form.password }}<br>
						<input type="submit" value="submit" class="button">
					</fieldset>
				</form>
			</article>
			<article>
				<h4>Lorem ipsum dolor sit</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<a href="#" class="button" alt="link">more</a>
			</article>
		</section>
	</div>
</div>
{% endblock %} 