#one-col.track
  +column(7)
  +append(1)
  img
    +column(3) 
    
#one-col.track-aside
  +column(16, true)
  img
    +column(2)
    
  article
    clear: both
    
  #three-chart, #two-chart
    +clearfix
    +column(15)
    background : $white
    clear : both
    img
      border : 0px
      &.last
        margin-right:  0px
  #three-chart
    img
      +column(5)
  #two-chart
    img
      +column(7)
    
#small-nav
  color : $white
  +single-text-shadow(darken($white, 60%), 1px, 1px, 2px)
  li
    float : left
    background : $black
    &:hover
      background : $orange
  li
    // I want to have a span / column solution here
    width: 190px
    &:hover, &.current
      background : $orange
      a
        background : none
    a
      background: image-url('global/nav/separate_nav.png') right 10px no-repeat 
      padding : 12px 0px 12px 0px
       
      +adjust-font-size-to(16px)
      
#map
  +column(15)
  height : 300px
  //+trailer
  //+clearfix


  
#ifeature
  clear : both
 
